/*************************************************
Mise en page avec onglets en bas
**************************************************/

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Header en bandeau fixe en haut */
body > header {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  padding: 5px 10px 5px 10px;
  height: 20px;
  z-index:99;
}
/* Titre et liens alignés de gauche à droite */
body > header h1 {
  margin: 0;
  padding: 0 5px 0 5px;
}
body > header h1:hover + nav {
  display: block;
}
nav {
  position: fixed;
  display: none;
  top: 22px;
  left: 10px;
  width: 220px;
}
nav:hover {
  display: block;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  list-style-type: none;
  margin: 3px 0 3px 0;
  padding: 0 5px 0 5px;
}
nav a {
  display: block;
}

/* Panneau d'actions en bas*/
aside {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px;
  margin: 0;
  padding: 0;
  z-index: 2;
}
/* aside, section {
  border: 1px solid #888!important;
} */

#toolbar {
  width: 32px;
  position: fixed;
  top: 32px;
  left: 0px;
}
#toolbar DIV.icon {
  margin: 3px 0 3px 0;
  width: 32px;
  height: 30px;
}
#tabs {
  position: fixed;
  bottom: 15px;
  height: 25px;
  left: 32px;
  right: 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#filters {
  position: fixed;
  top: 0;
  right: 30px;
}
.tab {
  flex-grow: 1;
  padding: 2px 5px 2px 5px;
  margin: 0;
}
.tab IMG {
  display: inline-block;
  vertical-align: middle;
  border: 0;
  padding-right: 2px;
}
.tab-notif {
  padding-left: 3px;
}
#tabs-actions {
  height: 20px;
  position: fixed;
  bottom: 16px;
  right: 5px;
}
#filters-actions {
  height: 20px;
  position: fixed;
  top: 6px;
  right: 5px;
}
.tab-action, .filter-action {
  float: left;
  margin-left: 5px;
}
.filter {
  float: left;
  padding: 2px 20px 2px 10px;
  margin: 5px 0px 0px 0px;
  width: 110px;
  height: 20px;
}

#pinnipede {
  position: fixed;
  top: 30px;
  left: 32px;
  right: 0;
  bottom: 70px;
  padding: 5px;
}
#popup {
  position: fixed;
  top: 30px;
  left: 32px;
  right: 0px;
}

/* Palmipède en bas */
#palmipede {
  position: fixed;
  bottom: 40px;
  left: 32px;
  right: 0;
  height: 28px;
}
#post-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: fixed;
  bottom: 47px;
  left: 50px;
  right: 165px;
  margin: 0;
  padding: 0;
}
#palmi-list {
  order: 1;
  flex: 0 1 auto;
  width: 150px;
}
#palmi-message {
  order: 2;
  flex: 1 1 auto;
  width: 100%;
  margin-left: 10px;
}
#totoz-manager {
  display: block;
  position: fixed;
  bottom: 47px;
  right: 10px;
  vertical-align: middle;
  margin: 0;
}
#totoz-search {
  width: 120px;
}
#totoz-status {
  vertical-align: middle;
}

/* Styles pour les "boîtes de dialogue" */
.panel {
  position: absolute;
  border: 1px solid black;
}

/* la boîte "ajouter une tribune" */
#newboard {
  position: fixed;
  bottom: 42px;
  right: 45px;
  max-height: 400px;
  min-width: 200px;
  overflow: auto;
}
#newboard UL {
  padding: 0;
  margin:0;
}
#newboard LI {
  padding: 2px 10px 2px 20px;
}

/* la boîte liste de totoz */
#totoz-panel {
  position: fixed;
  right: 10px;
  bottom: 64px;
  max-width: 500px;
}
#totoz-panel P {
  margin: 0;
  padding: 5px;
}
#totoz-list {
  max-height: 500px;
  width: auto;
  overflow: auto;
}
#totoz-list TD {
  text-align: left;
  padding: 0;
  margin: 0;
}
#totoz-list TD:first-child {
  text-align: right;
  padding-right: 5px;
}

/* la boîte "attacher un fichier" */
#attach {
  position: fixed;
  top: 61px;
  left: 32px;
  width: 400px;
}

/* les fenêtres de config */
#config-panel, DIV.config-panel {
  position: fixed;
  top: 35px;
  left: 32px;
  width: 570px;
}
.panel-tabs {
  float: left;
  width: 80px;
  margin: 5px;
  height: 100%;
}
.panel-tabs .panel-tab {
  padding: 2px 5px 2px 5px;
  margin: 3px 0 3px 0;
}
.panel-tab IMG, .panel-tab IMG:hover {
  border: 0!important;
  padding: 0!important;
  margin: 0!important;
}
.subpanel {
  max-height: 420px;
  overflow: auto;
  margin-right: 5px;
}
TD.subpanel:first-child {
  text-align: right;
  max-width: 250px;
}
