/********************************************
 * Styles du pinnipede pour le thème Console
 * Version Dark de la palette Solarized
 ********************************************/

/* Pinipede et styles des posts */
#pinnipede {
  font-family: "Ubuntu Mono", "DejaVu Sans Mono", "Consolas",  "Lucida console", "Courier new", monospace;
  background-color: #fdf6e3;
  color: #657b83;
  padding: 0px 0px 3px 0px;
  border: none;
  border-top: 4px solid #E6E3DC;
  border-radius: 4px 4px 0 0;
  font-size: small;
}
#pinnipede DIV {
  border-left: 4px solid transparent;
}
#popup {
  font-family: "Ubuntu Mono", "DejaVu Sans Mono", "Consolas",  "Lucida console", "Courier new", monospace;
}

#zoombox {
  color: #586e75;
}

a {
  text-decoration: none;
  /* font-weight: bold; */
  color: #2AA198;
}
a:visited {
  /* font-weight: normal!important; */
  color: #1E7C69;
}
a:link, a:focus, a:active {
  color: #2AA198;
}
a:hover {
  text-decoration: underline;
}

.totoz {
  color: #859900;
}
.totoz:hover {
  text-decoration: underline;
}

DIV.post {
  margin-left: 10px;
  padding: 0px 4px 0px 5px;
  background-color: #fdf6e3!important;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent; 
}
SPAN.clock {
  color: #586e75;
  /* font-weight: bold; */
}
.clockref {
  color: #268BD2;
  border: 1px solid transparent;
}
SPAN.login, SPAN.ua {
  display: inline-block;
  vertical-align: bottom;  
  width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
SPAN.login {
  color: #CB4B16;
}
SPAN.ua {
  color: #B58900;
}
/* .message:before {
  content: "- ";
} */
/*
SPAN.ua:after, SPAN.login:after {
  content: ">";
} */

DIV.newpost{
  border-left: 4px solid #E95420!important;
}

CODE, TT {
  font-family: "Ubuntu Mono", "DejaVu Sans Mono", "Consolas",  "Lucida console", "Courier new", monospace;
  white-space: pre;
  color: #D33682;
}

SPAN.bigorno {
  color: #6C71C4;
  font-weight: bold;
}
DIV.bigorno DIV SPAN.clock {
  color: #6C71C4;
}

SPAN.canard {
  font-weight: bold;
  color: #FFB86C;
}

DIV.answer DIV SPAN.clock {
  color: #268BD2;
}

DIV.mypost DIV SPAN.login, DIV.mypost DIV SPAN.ua {
  /* font-weight: bold; */
}  
SPAN.mypost {
  color: #DC322F!important;
  /* font-weight: bold; */
}

.plonk, .plonk SPAN {
  color: #93a1a1!important;
}
.plonk .post {
  background-color: #eee8d5!important;
}

#popup DIV {
  padding: 1px 1px 1px 5px;
}
.hilight DIV, #popup DIV DIV {
  background-color: #073642!important; 
  color: #eee8d5!important;
}
.hilight DIV SPAN.clock, #popup DIV SPAN.clock {
  color: #fdf6e3;
}
.hilight.clockref {
  background-color: #073642!important; 
  color: #268BD2!important;
}
