/*****************
* Style "default"
******************/

@import url("base.css");
@import url("default-layout.css");

html, body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
}

/* Styles pour le header et les liens de navigation */
body > header {
  background-color: #333;
  border-bottom: 1px solid black;
  color: #fff;
  box-shadow: 0px 2px 2px #999;
  z-index: 2;
}
body > header h1 {
  font-size: 1em;
  font-weight: normal;
}
nav a:link {
  font-weight: bold;
  text-decoration: none;
  color: #bbb;
}
nav a:hover {
  color: #fff;
}

/* On vire les labels et les boutons des formulaires (palmi, cherche totoz) */
label, input[type="submit"] {
  display: none;
}
input, select {
  margin: 1px; 
  border: 1px solid grey;
  font-family: arial, sans-serif;
  font-size: 100%;
  color: black;
}

/* Styles s'appliquant aux posts dans le pinnipede */
/* Liens */
a {
  font-weight: bold;
}
a:visited {
  color: #404;
}
a:link, a:focus, a:active {
  color: #008;
}
a:hover {
  color: #22D;
}

.totoz {
  color: #0A1;
  font-weight: 700;
}
.totoz:hover {
  color: #080;
}

/* Les onglets tribunes et filtres */
.tab, .filter {
  border: 1px solid transparent;
  border-radius: 10px 0px 0px 10px;
}
.tab {
  font-weight: bold;
}
.tab:hover {
  border: 1px solid #77c;
  border-right: 1px solid transparent;
}

/* #tabs:before { content: "Tribunes"; } */

.tab-name:hover {
  text-decoration: underline;
  color: #008;
}
.tab-notif {
  color: #A00;
  font-weight: bold;
}
.tab-hidden {
  font-weight: normal;
  opacity: 0.5;
  border-right: 1px solid #ccc;
}
.tab-hidden:hover {
  opacity: 1;
}

#filters:before { content: " Filtres"; }

.filter {
  background-color: #eee;
  border-right: 1px solid #ccc;
}
.filter:hover {
  text-decoration: underline;
  color: #008;
  background-image: url(img/control_play.png);
  background-position: left center;
  background-repeat: no-repeat;
}
.filter-active {
  font-weight: bold;
  color: #008;
  background-color: lightgrey;
}
.filter-active:before {
  content: "> ";
}
.filter-active:hover {
  background-image: url(img/control_stop.png);
  background-position: left center;
  background-repeat: no-repeat;
}

/* Le palmipede et ses champs de saisie */
#palmipede {
  border: 1px solid #ccc;
  background-color: #eee;
}
#palmipede FORM, #palmipede FORM * {
  vertical-align: middle;
}

/* Pinipede et styles des posts */
#pinnipede {
  background: #fff;
  color: #000;
  padding: 3px 0px 3px 0px;
  border: none;
  border-left: 1px solid #ccc;
  font-size: small;
}
#popup {
  background-image: url(img/jaune.gif)!important;
  border: 2px solid orange;
}
#popup DIV {
  background-image: url(img/jaune.gif)!important;
}
#pinnipede A, #popup A {
  text-decoration: none;
}
#pinnipede DIV {
  border-left: 4px solid transparent;
}
DIV.post {
  margin-left: 20px;
  padding: 0px 4px 0px 5px;
  background-color: #EFEFEF!important;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent; 
  opacity: 0.85;
}
SPAN.clock {
  display: block;
  float: left;
  width: 70px;
  font-weight: bold;
}
SPAN.clock:before {
  content: "[";
}
SPAN.clock:after {
  content: "]";
}
.clockref {
  color: #00D;
  border: 1px solid transparent;
}
SPAN.login {
  display: block; 
  float: left;
  width: 100px;
  color: #833;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
SPAN.ua {
  font-style: italic;
  display: block;
  float: left;
  width: 100px;
  color: #533;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.message:before {
  content: "• ";
}
DIV.newpost {
   border-left: 4px solid #FA0!important;
}
.newpost .post {
  /* background-color: #FCFCDA!important; */
}
.newpost .message {
  font-weight: normal;
}
SPAN.bigorno {
  border: 1px solid red;
}

DIV.bigorno {
  background-image: url('img/golcc-bigo.png')!important;
  background-repeat: no-repeat;
  background-position: 0px 1px;
}

SPAN.canard {
  font-weight: 700;
  color: #93C;
}

DIV.answer {
  background-image: url('img/golcc-star-b.png')!important;
  background-repeat: no-repeat;
  background-position: 0px 1px;
}

SPAN.mypost {
  color: #C00;
  font-weight: 700;
}

DIV.mypost {
  background-image: url('img/golcc-star.png')!important;
  background-repeat: no-repeat;
  background-position: 0px 1px;
}

DIV.hilight DIV {
  /* background-color: #FFD202!important; */
  background-image: url(img/jaune.gif)!important;
  border-top: 1px solid #FA0!important;
  border-bottom: 1px solid #FA0!important;
}
SPAN.hilight {
  border: 1px solid #FA0!important;
  background-color: #FFD202!important;
}

.plonk {
  color: #777!important;
  font-style: italic!important;
}
.plonk .post {
  background-color: #ddd!important;
}

/* Panneaux / boites de dialogue */
@keyframes slideIn {
  0%   { transform: translateX(-900px); }
  100% { transform: translateX(0); }
}
.panel {
  background-color: #efefef;
  border: 1px solid grey;
  border-radius: 3px;
  animation: slideIn 500ms forwards;
}
.panel header {
  background-color: #333;
  color: #fff;
}
.panel header h2 {
  font-weight: bold;
  font-size: 1em;
}

/* Styles pour la fenêtre de config */
.panel-tabs {
  /* background-color: #fff; */
  border-bottom: 1px solid #FA0;
}
.panel-tabs .panel-tab {
  font-size: 90%;
  text-align: center;
  border: none;
  background-color: transparent;
}
.panel-tab:hover {
  background-color: #FFD202;
}
.panel-tab IMG, .panel-tab IMG:hover {
  background-color: transparent!important;
}
.tab-active {
  background-color: #FA0!important;
}
.panel-header {
  background-color: #FA0;
  font-weight: bold;
  padding: 1px 5px 1px 5px;
  margin-top: 2px;
}
td.subpanel {
  text-align: left;
}
td.panel-board {
  color: #000;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: bolder;
  z-index: 90;
}
td.cstate {
  text-align: center;
  color: #0A246A;
  width: 65px;
}
td.cinfo {
  text-align: right;
}

#attach {
}
#newboard {
}
#newboard LI {
  list-style-type: none;
}
#newboard LI:hover {
  color: #008;
  list-style-type: '>';
}

#totoz-panel {
  animation: none;
}
#totoz-list {
}
#totoz-list TR:hover {
  background-color: #FFFFCC;
}
#totoz-list TD {
}

