/*************************************************
La mise en page par défaut d'olcc
- Barre de titre et liens de navigation en haut
- Onglets, filtres et barre d'outils à gauche
- Palmipède avec totoz manager en bas
- Boîtes de dialogue à proximité de leurs boutons
**************************************************/

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Header en bandeau fixe en haut */
body > header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  margin: 0;
  padding: 2px 10px 2px 10px;
}
/* Titre et liens alignés de gauche à droite */
body > header h1 {
  float: left;
  margin: 0;
  padding: 0;
}
nav ul {
  padding: 0;
  margin: 0;
  float: right;
}
nav li {
  list-style-type: none;
  display: block;
  float: left;
  margin: 0;
  padding: 0px 0px 0px 15px;
}

/* Panneau d'actions sur le côté gauche */
aside {
  position: fixed;
  top: 30px;
  left: 0;
  width: 151px;
  margin: 0;
  padding: 0;
  z-index: 2;
}
aside section {
  /* border: 1px solid #ccc; */
  padding: 2px 0px 2px 10px;
}

#toolbar {
  height: 20px;
  margin-bottom: 10px;
}
#toolbar DIV.icon {
  float: left;
  margin-right: 5px;
}
#tabs {
}
#filters {
}
.tab {
  padding: 2px 5px 2px 5px;
  margin: 1px 0px 1px 5px;
}
.tab IMG {
  display: inline-block;
  vertical-align: middle;
  border: 0;
  padding-right: 2px;
}
.tab-notif {
  padding-left: 3px;
}
#tabs-actions, #filters-actions {
  height: 20px;
}
.tab-action, .filter-action {
  float: right;
  margin-right: 3px;
}
.filter {
  padding: 2px 5px 2px 20px;
  margin: 1px 0px 1px 5px;
}

#pinnipede {
  position: fixed;
  top: 20px;
  left: 150px;
  right: 0;
  bottom: 44px;
  padding: 3px 0px 5px 0px;
  border: none;
  border-left: 1px solid #ccc;
}
#popup {
  position: fixed;
  top: 20px;
  left: 150px;
  right: 0px;
  padding: 2px 8px 2px 4px;
}

/* Palmipède en bas */
#palmipede {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 42px;
}
#post-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 165px;
  margin: 0;
  padding: 0;
}
#palmi-list {
  order: 1;
  flex: 0 1 auto;
  width: 150px;
}
#palmi-message {
  order: 2;
  flex: 1 1 auto;
  width: 100%;
  margin-left: 10px;
}
#totoz-manager {
  display: block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  vertical-align: middle;
  margin: 0;
}
#totoz-search {
  width: 120px;
}
#totoz-status {
  vertical-align: middle;
}

/* Styles pour les "boîtes de dialogue" */
.panel {
  position: absolute;
  border: 1px solid black;
  box-shadow: 3px 3px 3px #999;
}

/* la boîte "ajouter une tribune" */
#newboard {
  position: fixed;
  top: 105px;
  left: 150px;
  max-height: 400px;
  overflow: auto;
}
#newboard LI {
  padding: 2px;
}

/* la boîte liste de totoz */
#totoz-panel {
  position: fixed;
  right: 10px;
  bottom: 38px;
}
#totoz-panel P {
  margin: 0;
  padding: 5px;
}
#totoz-list {
  max-height: 500px;
  width: auto;
  overflow: auto;
}
#totoz-list TD {
  text-align: left;
  padding: 0;
  margin: 0;
}
#totoz-list TD:first-child {
  text-align: right;
  padding-right: 5px;
}

/* la boîte "attacher un fichier" */
#attach {
  position: fixed;
  top: 51px;
  left: 34px;
  width: 400px;
}

/* les fenêtres de config */
#config-panel, DIV.config-panel {
  position: fixed;
  top: 51px;
  left: 10px;
  width: 500px;
}
.panel-tabs {
  height: 57px;
}
.panel-tabs .panel-tab {
  float: left;
  padding: 2px 5px 2px 5px;
  margin-left: 2px;
}
.panel-tab IMG, .panel-tab IMG:hover {
  border: 0!important;
  padding: 0!important;
  margin: 2px!important;
}
.subpanel {
  max-height: 420px;
  overflow: auto;
}
